<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.ACTION_VIEW" />
            <data android:scheme="https" />
        </intent>
        <package android:name="com.facebook.katana" />
        <intent>
            <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="androidx.browser.customtabs.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT" />
            <data android:mimeType="vnd.android.cursor.dir/event" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:path="tel:" />
        </intent>
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.webview" />
        <package android:name="com.android.webview" />
        <package android:name="com.android.vending" />
    </queries>

    <permission
        android:name="com.rebuild.mixtube.ads.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.rebuild.mixtube.ads.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:name=".MixtubeRebuildApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_test_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/ic_dialog_info" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channelId" />
        <activity
            android:name=".ToponSplashAdShowActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".FullNativeAdActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".AdWinInterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".ReconstructedMediationAdActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".GoogleNativeAdActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleBannerAdActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/artist"
                    android:scheme="https" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/search"
                    android:scheme="https" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/library"
                    android:scheme="https" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/artist"
                    android:scheme="readink" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/search"
                    android:scheme="readink" />
                <data
                    android:host="mixtube.page.link"
                    android:pathPrefix="/library"
                    android:scheme="readink" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchPageActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerPageActivity"
            android:exported="false" />
        <activity
            android:name=".PlaylistImportActivity"
            android:exported="false" />
        <activity
            android:name=".PlaylistAddSongsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".CleanBoostActivity"
            android:exported="false" />
        <activity
            android:name=".PlaylistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadManageActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessPageActivity"
            android:exported="false" />
        <activity
            android:name=".TempActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.rebuild.mixtube.ads.service.LocalService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name="com.rebuild.mixtube.ads.service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.rebuild.mixtube.ads.service.MyFirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.rebuild.mixtube.ads.service.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
