<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <provider
            android:name="com.study.trigger.InitProvider"
            android:authorities="${applicationId}.retention-init"
            android:enabled="true"
            android:exported="false"
            android:initOrder="100" />

        <service
            android:name="com.study.trigger.service.ToolbarForegroundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.study.trigger.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.study.trigger.receiver.BootstrapReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
